.container {
  position: relative;
  width: 275px;
}

.overlay {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #223852;
  overflow: hidden;
  width: 275px;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.texti {
  color: #fdf9fe;
  font-family: EuropaN;
  font-size: 26px;
  position: absolute;
  background-color: #223852;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  background-color: #fdf9fe;
  font-family: EuropaN;
  color: #7610f7;
  border-color: #7610f7;
  border-width: 2px;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #7610f7;
  color: #fdf9fe;
  font-family: EuropaN;
}
