.certb {
  background-color: #141c3a;
}

.certb h4 {
  background-color: #141c3a;
  font-family: EuropaN;
  color: #ffffff;
}

.certb p {
  color: #808080;
  background-color: #141c3a;
  font-family: EuropaN;
}
