.btnhome {
  background-color: #141c3a;
  font-family: EuropaN;
  color: #ffffff;
  border-color: #7610f7;
  border-width: 2px;
  font-family: EuropaN;
  text-align: center;
  margin-bottom: 2px;
  
}
.btnhome:hover {
  background-color: #7610f7;
  color: #fdf9fe;
  font-family: EuropaN;
}

.dpurple {
  background-color: #141c3a;
  margin-bottom: -175px;
}

.footerh2 {
  color: #ffffff;
  font-size: 32px;
  font-family: EuropaN;
}
.footerp {
  color: #ffffff;
  font-size: 16px;
  font-family: EuropaN;
}

.footpurple {
  margin-top: 100px;
  background-color: #7510f7;
  padding-top: 150px;
}
.footpurple h2 {
  color: #ffffff;
  font-size: 28px;
  font-family: EuropaN;
}

.fontic {
  color: #ffffff;
  border-color: #ffffff;
  font-size: 20px;
  margin-left: 8px;
}
.fontic:hover {
  color: #7510f7;
  background-color: #ffffff;
}
