.homediv{
    background-color:azure;

}

.headingi{
    font-family: EuropaN;
    font-size: 38px;
    color:#141c3a;
    font-weight: bolder;
    margin-left: 30px;
    font-weight:bolder;
}

.preheard{
    font-family: EuropaN;
    color:#141c3a;
    font-weight: bolder;
    font-size:20px;
}

.purplec{
    background-color: #7510f7;
    color:#FFFFFF;
    margin-top: 100px;
    

}
.whites h3{
    font-family:EuropaN;
}


.whites{
    
    margin-top: -200px;
    
    border-radius: 20px;
}
.purplec h1{
    padding-top: 120px;
    padding-bottom:20px;
    font-family:EuropaN;
    width:100%;
    margin:auto;
    text-align:center;
    font-size:40px;
    
}

.purplec p{
    font-family:EuropaN;
    width:70%;
    margin:auto;
    text-align:center;
    font-size:20px;
    padding-bottom:260px;
}