.navb{
    background-color:#fdf9fe;
    color:#141c3a;
    font-family:EurostileBold;
    
}


.navb li {
    

    padding-right: 7px;
    padding-left: 7px;
}
.navb li:hover{
    color:#7610f7;
    text-decoration: underline;
    text-decoration-color:#7610f7;
    
}

